body {
    margin: 0;
    background: #fff;
}

.carousel {
    width: 100%;
}

.carousel__item {
    width: 140px;
    height: 100px;
    background: #eee;
    box-sizing: border-box;
    border: 4px solid #000;
}

.oslider {
    position: relative;
    padding: 0 30px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #f3f3f3;
}

.oslider__container {
    position: relative;
    overflow: hidden;
    height: 100%;
    min-height: 100px;
}

.oslider__wrapper {
    white-space: nowrap;
    width: auto;
    font-size: 0;
    transform: translateX(0);
    height: 100%;
    transition: opacity 200ms ease;
}

.oslider__wrapper_hidden {
    opacity: 0;
}

.oslider__slide {
    display: inline-block;
    font-size: 1rem;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
}

.oslider__slide-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.oslider__slide-inner {
    display: inline-block;
}

.oslider__arrow {
    position: absolute;
    top: 0;
    height: 100%;
    width: 30px;
    cursor: pointer;
}

.oslider__arrow_prev {
    left: 0;
    background: #999;
}

.oslider__arrow_next {
    right: 0;
    background: #999;
}

.oslider__arrow_disabled {
    cursor: auto;
    background: #ccc;
}

.oslider__arrow_hidden {
    display: none;
}

.slider {
    width: 100%;
    height: 200px;
    background: #ddd;
}
